@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../../packages/ui/styles/sharedGlobals.scss";

body {
  background-color: var(--bg);
  color: var(--dark);
}

button {
  @apply generalSans;
  background: none;
}

// TEXT
a {
  color: var(--dark);
}
#logo {
  font-family: "Gabriela", serif;
  font-size: 24px;
}
h1 {
  @include fontStyles(89px);
  font-size: clamp(52px, 6.15vw, 89.5px);
}

.h1Highlight {
  text-shadow: var(--shadow-text);
  color: var(--blue);
  -webkit-text-fill-color: var(--blue);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark);
}

// PLACEHOLDER
::placeholder {
  font-weight: 500;
}

// CONTAINER
.topContainer {
  max-width: 1440px;
  width: 100%;
  padding-inline: 35px;
}
