@import "../../../packages/ui/styles/sharedGlobals.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --x-buynowcard: 853px;
}

body {
  background-color: var(--bg);
  color: var(--dark);
}

button {
  @apply generalSans;
  background: none;
}

// TEXT
a {
  color: var(--dark);
}
#logo {
  font-family: "Gabriela", serif;
  font-size: 24px;
}
h1 {
  @include fontStyles(89px);
  font-size: clamp(52px, 6.14vw, 89px);
}

.h1Highlight {
  text-shadow: var(--shadow-text);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark);
}

// PLACEHOLDER
::placeholder {
  font-weight: 500;
}

// CONTAINER
.topContainer {
  max-width: 1440px;
  width: 100%;
  padding-inline: 35px;
}
@media (max-width: 640px) {
  .topContainer {
    padding-inline: 20px;
  }
}

.card {
  background-color: var(--white);
  border: 1px solid var(--dark);
  border-radius: 5px;
}

// * RESPONSIVE
@media (max-width: 620px) {
  .cToFs {
    align-items: flex-start;
  }
}

// HERO
@media (max-width: 1024px) {
  #heroHome {
    height: unset !important;
  }
}
