body {
  @apply fcc w-screen;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

// SCROLLBAR
.scrollbar {
  overflow-y: hidden;
}

.scrollbar-x {
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 0;
  width: 0;
}
.scrollbar::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar-x:hover::-webkit-scrollbar {
  transition: heigth 2s ease;
  height: 5px;
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar-x::-webkit-scrollbar-thumb {
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 5px;
}
