.card,
.card2 {
  border: 1px solid var(--grey);
  background: var(--bg);
  box-shadow:
    0px 4px 5.3px 0px rgba(20, 26, 37, 0.05) inset,
    0px -4px 3px 0px rgba(6, 12, 24, 0.05) inset;
}
.card2 {
  background-color: #f7f7f7;
  border-radius: 5px;
}

.card3 {
  @apply card card2;
  padding: 20px;
  border-radius: 5px;
}

.cardCommon {
  @apply priBtn;
  @apply shadow-box1 semi12;
  // text-transform: capitalize;
  // border: 1px solid var(--dark);
  // border-radius: 5px;
  padding: 10px 7px;
}
