@import "./colors.scss";
@import "./common.scss";
@import "./animations.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import "./border.scss";
@import "./button.scss";
@import "./shadows.scss";
@import "./dashboard.scss";

.test {
  background-color: white;
}

.generalSans {
  font-family: "GeneralSans-Variable";
}
.expose {
  font-family: "Expose-Black";
}
body {
  font-family: "GeneralSans-Variable";
  @apply generalSans;
}
